.pricing {
    width: 760px;
    margin: 0 auto;
    text-align: center;

    .pricing__title {
        font-weight: 300;
        margin: 50px 0;
    }

    .pricing__description {
        font-size: 20px;
        font-weight: 300;
    }
}
